DWELLING_BLOCKS_CLIENT_ID=
DWELLING_BLOCKS_CLIENT_SECRET=
DWELLING_BLOCKS_API_BASE_URL=https://api.dwellingblocks.com

ERP_PDF_AUTOMATION_XLSX_PATH=

GSG_CONNECT_BASE_URL=
GSG_CONNECT_USERNAME=
GSG_CONNECT_PASSWORD=
COMPANY_ID=

SENTRY_DSN=
SCRIPT_ENVIRONMENT=development
SCRIPT_EXEC_INTERVAL_SECONDS=300

HEALTHCHECK_IO_URL=

DEFAULT_PAGE_SIZE=100
FILE_CLEANUP_DAYS_THRESHOLD=7
HTTP_TIMEOUT=60
