DWELLING_BLOCKS_CLIENT_ID=
DWELLING_BLOCKS_CLIENT_SECRET=
DWELLING_BLOCKS_API_BASE_URL=

LOGGING_LOCATION=
ERP_PDF_AUTOMATION_XLSX_PATH=

GSG_CONNECT_BASE_URL=
GSG_CONNECT_USERNAME=
GSG_CONNECT_PASSWORD=
COMPANY_ID=

SENTRY_DSN=
SCRIPT_ENVIRONMENT=development
SCRIPT_EXEC_INTERVAL_SECONDS=300

HEALTHCHECK_IO_URL=

DEFAULT_PAGE_SIZE=
FILE_CLEANUP_DAYS_THRESHOLD=
HTTP_TIMEOUT=
DNS_SERVER=

CURRENT_ORDERS_ORDER_DATE_MONTH_LOOKBACK=